<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'homePage'}}">Ngẫm Cafe</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li class="{{isActiveRoute 'sale'}}">
                        <a href="{{pathFor 'sale'}}">
                           <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Bán hàng
                        </a>
                    </li>
                    <li class="{{isActiveRoute 'invoiceList'}}">
                        <a href="{{pathFor 'invoiceList'}}">
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sổ thu chi
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown {{isActiveRoute regex='tableList|productList'}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quản lí <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{isActiveRoute 'tableList'}}">
                                <a href="{{pathFor 'tableList'}}">Bàn</a>
                            </li>
                            <li class="{{isActiveRoute 'productList'}}">
                                <a href="{{pathFor 'productList'}}">Sản phẩm</a>
                            </li>
                        </ul>
                    </li>
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>
