<template name="tableList">
    <div class="pull-right">
        <button id="create-table" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm bàn
        </button>
    </div>
    <div class="wrapper table-list">
        <h2>Danh sách bàn</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên bàn</th>
                    <th>Nhóm</th>
                </tr>
            </thead>
            <tbody>
                {{#each tables}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{group}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
