<template name="tableList">
    <div class="pull-right">
        <button id="create-table" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create Table</button>
    </div>
    <div class="wrapper table-list">
        <h2>Tables</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {{#each tables}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{group}}</td>
                    <td>Note</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
