.sale-table , .sale-product{
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: #5d5db4;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.sale-product {
  background-color: #d2994f;
}

.sale-table:hover {
  background-color: #16167d;
}

.sale-product:hover {
  background-color: #6c3213;
}

.table-product-container {
  padding-top: 10px;
}

.for-print {
  display: none;
}

.serving-table {
  background: green;
}

.selected-table {
  border: solid 2px red;
}

.sale-tabs {
  border-bottom: 1px solid #716e6e;
}

.sale-tabs li.active>a {
  border: 1px solid #716e6e;
  border-bottom-color: transparent;
}
