.sale-table , .sale-product{
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: #5d5db4;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.sale-product {
  background-color: #d2994f;
}

.sale-product:hover, .sale-table:hover {
  background-color: red;
}
}

