<template name="productCreateModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm mới</h4>
                </div>
                <div class="modal-body">
                    <form name="table" class="table-form form">
                        <div class="form-group">
                            <label for="productName">Tên</label>
                            <input type="text" class="form-control" name="productName" placeholder="vd: Cà phê sữa">
                        </div>
                        <div class="form-group">
                            <label for="productGroup">Nhóm</label>
                            <select class="form-control" name="productGroup">
                                <option selected>Chọn nhóm</option>
                                {{#each productGroups}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productCost">Giá gốc</label>
                            {{> currencyInput name="productCost" placeholder="Giá gốc"}}
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Giá bán</label>
                            {{> currencyInput name="productPrice" placeholder="Giá bán ra"}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Tạo</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</template>
