<template name="productList">
    <div class="pull-right">
        <button id="create-product" type="button" class="btn btn-primary" data-toggle="modal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm sản phẩm
        </button>
        <button id="create-product-group" type="button" class="btn btn-primary" data-toggle="modal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm nhóm
        </button>
    </div>
    <div class="wrapper food-list">
        <h2>Danh sách sản phẩm</h2>
        <h4>
        {{#each productGroups}}
         <span class="label label-primary">{{name}}</span>
        {{/each}}
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Nhóm</th>
                    <th>Giá vốn</th>
                    <th>Giá bán</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{groupName}}</td>
                    <td>{{cost}}</td>
                    <td>{{price}}</td>
                    <td>
                        <a name="{{_id}}" href="#" class="delete-product">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
