<template name="invoiceCreateModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm hóa đơn mới</h4>
                </div>
                <div class="modal-body">
                    <form name="table" class="table-form form">
                        <div class="form-group">
                            <label for="invoiceName">Tên hóa đơn</label>
                            <input type="text" class="form-control" name="invoiceName" placeholder="Tên hóa đơn (ngắn gọn)">
                        </div>
                        <div class="form-group">
                            <label for="invoiceGroup">Loại</label>
                            <select class="form-control" name="invoiceGroup">
                              <option selected>Chọn loại hóa đơn</option>
                              {{#each invoiceGroups}}
                                <option value="{{_id}}">{{name}}</option>
                              {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="invoiceCost">Chi phí</label>
                            {{> currencyInput name="invoiceCost" placeholder="Số tiền chi"}}
                        </div>
                        <div class="form-group">
                            <label for="invoiceNote">Ghi chú</label>
                            <input type="text" class="form-control" name="invoiceNote" placeholder="Ghi chú thêm">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Tạo</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</template>
