<template name="orderList">
    <h2>Báo cáo bán hàng</h2>
    <div>
        <strong>Tổng số dư hiện tại:</strong> {{> currencyOutput amount=totalProfit}}
    </div>
    <ul class="nav nav-pills">
        <li class="sale-product-group active" role="presentation"><a href="#today-revenue-tab" data-toggle="tab">Hôm nay</a></li>
        <li class="sale-product-group" role="presentation"><a href="#duration-revenue-tab" data-toggle="tab">Theo khoảng thời gian</a></li>
        <li class="sale-product-group" role="presentation"><a href="#revenue-by-date-tab" data-toggle="tab">Theo ngày</a></li>
        <li class="sale-product-group" role="presentation"><a href="#revenue-by-month-tab" data-toggle="tab">Theo tháng</a></li>
    </ul>
    <div class="tab-content table-product-container">
        <div role="tabpanel" class="tab-pane active sale-table-container" id="today-revenue-tab">
            <div>
                <strong>Tổng doanh thu ngày hôm nay:</strong> {{todayRevenue}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Thời gian đến</th>
                        <th>Thời gian đi</th>
                        <th>Các món gọi</th>
                        <th>Giảm giá</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each todayOrders}}
                        <tr>
                            <td class="col-md-2">{{> dateTime time=true date=checkInTime}}</td>
                            <td class="col-md-2">{{> dateTime time=true date=checkOutTime}}</td>
                            <td class="col-md-2">
                                {{#each products}}
                                    {{name}},
                                {{/each}}
                            </td>
                            <td class="col-md-1">{{discountAmount}}</td>
                            <td class="col-md-1">{{totalPrice}}</td>
                            <td class="col-md-2">{{note}}</td>
                            <td class="col-md-2">
                                <a href="#" class="delete-order">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="duration-revenue-tab">
            <div class="row">
                <div class='col-xs-5'>
                    <div class="form-group">
                        <label class="control-label">Từ ngày</label>
                        <div class='input-group date' id='datetimepickerFrom'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-xs-5'>
                    <div class="form-group">
                        <label class="control-label">Đến ngày</label>
                        <div class='input-group date' id='datetimepickerTo'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <label class="control-label">.</label>
                    <button id="get-selected-day-report" class="btn btn-success btn-block">Xem báo cáo</button>
                </div>
            </div>
            <div>
                <strong>Tổng doanh thu:</strong> {{durationRevenue}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Thời gian đến</th>
                        <th>Thời gian đi</th>
                        <th>Các món gọi</th>
                        <th>Giảm giá</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each selectedDurationOrders}}
                        <tr>
                            <td class="col-md-2">{{> dateTime time=true date=checkInTime}}</td>
                            <td class="col-md-2">{{> dateTime time=true date=checkOutTime}}</td>
                            <td class="col-md-2">
                                {{#each products}}
                                    {{name}},
                                {{/each}}
                            </td>
                            <td class="col-md-1">{{discountAmount}}</td>
                            <td class="col-md-1">{{totalPrice}}</td>
                            <td class="col-md-2">{{note}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <h3>Thống kê chi tiết các món được gọi</h3>
            {{#each soldProducts}}
                {{name}}: {{count}}
                <br />
            {{/each}}
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="revenue-by-date-tab">
            <div>
                <strong>Doanh thu tính theo ngày</strong>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Doanh thu</th>
                        <th>Chi phí</th>
                        <th>Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dailyReports}}
                        {{> byDateReport}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="revenue-by-month-tab">
            <div>
                <strong>Doanh thu tính theo tháng</strong>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tháng</th>
                        <th>Doanh thu</th>
                        <th>Chi phí</th>
                        <th>Lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each monthlyReports}}
                        {{> byMonthReport}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
