<template name="orderList">
    <h2>Báo cáo bán hàng</h2>
    <ul class="nav nav-pills">
        <li class="sale-product-group active" role="presentation"><a href="#today-revenue-tab" data-toggle="tab">Hôm nay</a></li>
        <li class="sale-product-group" role="presentation"><a href="#yesterday-revenue-tab" data-toggle="tab">Hôm qua</a></li>
        <li class="sale-product-group" role="presentation"><a href="#revenue-by-date-tab" data-toggle="tab">Theo Ngày</a></li>
        <li class="sale-product-group" role="presentation"><a href="#revenue-by-month-tab" data-toggle="tab">Theo Tháng</a></li>
    </ul>
    <div class="tab-content table-product-container">
        <div role="tabpanel" class="tab-pane active sale-table-container" id="today-revenue-tab">
            <div>
              <strong>Tổng doanh thu ngày hôm nay:</strong> {{todayRevenue}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Thời điểm đến</th>
                        <th>Thời gian đi</th>
                        <th>Các món gọi</th>
                        <th>Tổng tiền tiền</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each todayOrders}}
                    <tr>
                        <td class="col-md-1">{{> dateTime time=true date=checkInTime}}</td>
                        <td class="col-md-1">{{> dateTime time=true date=checkOutTime}}</td>
                        <td class="col-md-4">
                            {{#each products}}
                            <p>{{name}} - {{price}}</p>
                            {{/each}}
                        </td>
                        <td class="col-md-1">{{totalPrice}}</td>
                        <td class="col-md-2">
                            <a href="#" class="delete-order">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="yesterday-revenue-tab">
            <div>
              <strong>Tổng doanh thu ngày hôm qua:</strong> {{yesterdayRevenue}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Thời điểm đến</th>
                        <th>Thời gian đi</th>
                        <th>Các món gọi</th>
                        <th>Tổng tiền tiền</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each yesterdayOrders}}
                    <tr>
                        <td class="col-md-1">{{> dateTime time=true date=checkInTime}}</td>
                        <td class="col-md-1">{{> dateTime time=true date=checkOutTime}}</td>
                        <td class="col-md-4">
                            {{#each products}}
                            <p>{{name}} - {{price}}</p>
                            {{/each}}
                        </td>
                        <td class="col-md-1">{{totalPrice}}</td>
                        <td class="col-md-2">
                            <a href="#" class="delete-order">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="revenue-by-date-tab">
            Doanh thu tính theo ngày
        </div>
        <div role="tabpanel" class="tab-pane sale-table-container" id="revenue-by-month-tab">
            Doanh thu tính theo tháng
        </div>
    </div>
</template>
