<template name="order">
    <div id="bill" class="panel-body">
        <div class="for-print" style="text-align: center">
                <b>Ngẫm Cafe</b><br>
            838/1 Lê Hồng Phong, P.12, Q.10 - 08.6299.5077<br>
            <b>HÓA ĐƠN</b><br>
            <hr style="border: 1px dashed black;">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>
                        <a name="{{id}}" href="#" class="remove-product">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td><b>Tổng tiền</b></td>
                    <td><b>{{totalPrice}}</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
