<template name="order">
    <div id="bill" class="panel-body">
        <div class="for-print" style="text-align: center;font-size:12px;">
            <b>Ngẫm Cafe</b>
            <br> 839/1 Lê Hồng Phong, P.12, Q.10
            <br>
            <b style="font-size:14px;">HÓA ĐƠN</b>
            <br>
            <hr style="border: 1px dashed black;">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td>
                            <a name="{{id}}" href="#" class="remove-product">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td>
                        <i>Chiết khấu</i>
                    </td>
                    {{#if editDiscount}}
                        <td>
                            {{> currencyInput name="discountAmount" value=discountAmount}}
                        </td>
                        <td>
                            <a href="#" class="save-discount">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </a>
                        </td>
                    {{else}}
                        <td>
                            <i>{{discountAmount}}</i>
                        </td>
                        <td>
                            <a href="#" class="edit-discount">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                    {{/if}}
                </tr>
                <tr>
                    <td><b>Tổng tiền</b></td>
                    <td><b>{{totalPrice}}</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="for-print" style="text-align: center;font-size:12px;">
            <hr style="border: 1px dashed black;"> Cảm ơn quý khách. Hẹn gặp lại.
        </div>
    </div>
</template>
